body {
	background-image:url('debut_light.png');
}

body p {
	font-family: 'Open Sans', sans-serif;
}

.header {
	margin-left:40px;
	margin-top:30px;
	margin-right:40px;
}

.header h1 {
	font-family: 'Open Sans', sans-serif;
	text-shadow: 0px 1px 0px rgba(84, 84, 84, 1);
}


.header p {
	text-shadow: 0px 1px 0px rgba(84, 84, 84, 1);
}
	
#pic {
	position:absolute;
	background: url('../img/head.png') no-repeat;
	width: 150px;
	height: 150px;
}

#pic:hover {
	transform:rotate(-30deg);
	-ms-transform:rotate(-30deg); /* IE 9 */
	-moz-transform:rotate(-30deg); /* Firefox */
	-webkit-transform:rotate(-30deg); /* Safari and Chrome */
	-o-transform:rotate(-30deg); /* Opera */
}
	
#name {
	position:relative;
	margin-left:130px;
	padding-top:5px;
}

#name p {
	font-style:oblique;
}

#menu {
	text-align:right;
	position:relative;
	margin-top:-75px;
	}

#menu a {
	text-decoration:none;
	color:black;
}

#tagline {
	
	text-align:center;
	margin-top:100px;
	width:100%;
	height:100px;
}

#tagline h1 {
	font-weight:100;
	font-size:35px;
}

#tagline b {
	text-shadow: 0px 2px 0px rgba(84, 84, 84, 1);

}

.work {
	margin-left:40px;
	margin-right:40px;
}

#portfolio {
	width:100%;
	height:380px;
	
}

#portfolio img {
	border:1px solid;
	padding:5px;
}

#container {
    height: 125px;
    text-align: justify;
    -ms-text-justify: distribute-all-lines;
    text-justify: distribute-all-lines;

    /* just for demo */
    min-width: 612px;
}

.box1, .box2, .box3, .box4 {
    width: 212px;
    height: 162px;
    vertical-align: top;
    display: inline-block;
    *display: inline;
    zoom: 1;
}
.stretch {
    width: 100%;
    display: inline-block;
    font-size: 0;
    line-height: 0
}

.about {
	margin-left:40px;
	margin-right:40px
}

#timeline {
	height:200px;
}

#aboutme {
 	height:100px;	
}

#aboutme p {
	font-weight:100;
}

#aboutme a {
	text-decoration:none;
	color:gray;
	
}

.contact {
	margin-left:40px;
	margin-right:40px;
}

#contactform {
	margin-top:40px;
}

#contactform form {
	font-size:12px;
	font-family: 'Open Sans', sans-serif;
}

input, label {
    display:block;
}

#noform {
	position:inherit;
	margin-top:-150px;
	
}

#noform h2 {
	text-align:right;
	font-family: 'Open Sans', sans-serif;
	font-weight:500;
	font-size:20px;
}

#noform p {
	font-weight:100;
	text-align:right;
}

.footer {
	background-image:url('black_lozenge.png');
    overflow: hidden;
    left: 0;
    top: 1450px;
    position: absolute;
    z-index: -9999;	
    height:400px;
	width:100%;
	position:absolute;

}

.footer p {
	color:white;
}


