/* Author: Jimmy Liu
   Twitter: @jimmyliu
   Website: jimmyliu.me */

body {
	background-image:url('debut_light.png');
	margin: 5% 0% 0% 0%;

}

body p, h1, h2, h3, h4, h5, a{
	font-family: 'Open Sans', sans-serif;
	color:#282A2C;
	text-shadow: 1px 1px white;
}

hr { display: block; height: 1px;
    border: 0; border-top: 1px solid #000 ;
    margin: 1em 0; padding: 0; 
    opacity:0.3}

body h2 {
	font-weight:500;
	font-size:20px;
	margin-top:0px;
	padding:0px;
}

@media (max-width: 767px) {

	.footer {
		margin-right:-20px;
		margin-left:-20px;
		padding:20px; 
	}
	
	.images img{
		margin:0px 20px 20px 0px;
	}
}

.header {
}

.header h1 {
	font-weight:700;
	font-size:30px;
	margin:0px;
}

.header h2 {
	text-align:center;
	font-weight:100;
	font-size:30px;
}

.header h2 b {
	font-weight:600;
}

.header h3 {
	font-weight:200;
	font-size:18px;
	margin-top:-10px;
}

.header a {
	color:black;
	text-decoration:none;
}

.header a:hover {
	color:#939393;
	
}

.header p {
	margin-top:20px;
}

.header img {
}

.images img {
   padding: 6px;
   border: 1px solid #8c8c8c;
   margin:0px 0px 20px 0px;
   background-color:#fff;
   -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.5);
   -moz-box-shadow:    0px 1px 1px rgba(0, 0, 0, 0.5);
   box-shadow:         0px 1px 1px rgba(0, 0, 0, 0.5);
}

.timeline hr {

	display: block; height: 1px;
    border: 0; border-top: 1px solid #000;
    margin: 0em 0; padding: 0; opacity:1;
    
}

.timeline {
	background-image:url('../img/line.png');
	background-repeat:repeat-x;
	margin-top:50px;
	margin-bottom:60px;
}

.points p {

	margin-top:10px;
	
}
.time1 {
	margin-top:-100px;
	position:absolute;
	width:90px;
	height:90px;
}


.time2 {
	margin-top:-100px;
	left:35%;
	position:absolute;
	width:90px;
	height:90px;	
}

.time3 {
	margin-top:-100px;
	left:50%;
	position:absolute;	
	width:90px;
	height:90px;
}

.time4 {
	margin-top:-100px;
	left:70%;
	position:absolute;
	width:90px;
	height:90px;	
}

.time5 {
	margin-top:-100px;
	left:80.3%;
	position:absolute;	
	width:90px;
	height:90px;
}

.circle {
			padding: 8px 20px;
			overflow:hidden;
			background: url(../img/circle.png) no-repeat;
			border:none;
}

.contact p {
	margin-bottom: 0px;
}

.contact h3 {
	font-weight:400;
	font-size:25px;
	margin-top:0px;
}

.footer hr {
	display: block; height: 1px;
    border: 0; border-top: 1px solid #fff ;
    margin: 1em 0; padding: 0; opacity:.5;
	
}

.footer {
	padding-top:25px;
	background-image:url('../img/black_lozenge.png');
	padding-bottom:20px;
}

.footer p {
	color:white;
	font-weight:100;
	padding-bottom:25px;
	text-shadow: 0px 0px white;
}

.footer h3 {
	color:white;
	font-size:20px;
	font-weight:100;
	text-shadow: 0px 0px white;
}

.footer h3 a {
	color:white;
	font-size:20px;
	font-weight:100;
	text-shadow: none;
}

.footer h3 a:hover {
	text-decoration:none;
	color: #909090;
	text-shadow: none;
}

.footer img {
	 vertical-align: text-bottom;
     -webkit-transform:rotate(360deg);
     -moz-transform:rotate(360deg); 
     -o-transform:rotate(360deg);
}

.footer img:hover   
{ 
    -webkit-transform:rotate(360deg);
    -moz-transform:rotate(360deg); 
    -o-transform:rotate(360deg);
} 

.footer blockquote {
	 border-left: none;
	 padding-left:  0px;
	 font-size:14px;
}

.footer p {
	font-size:14px;
	line-height:20px;
}

.footer p a {
	color:white;
	text-shadow: none;
	font-size:14px;
}

#lastfmrecords {
	margin-bottom:40px;
}

#lastfmrecords img {
	width:60px;
	height:60px;
	margin: 0px 40px 20px -25px;
	border:1px solid #fff;
} 


ul#dribbble {
	width: 100%; margin: 0 auto 50px auto; 
	list-style: none; overflow: hidden;
	margin-bottom:40px;
}

ul#dribbble li {
		float: left; margin-bottom: 10px; 
}

#dribbble img {
	border: 2px solid white;

}

.tweet {
	margin-bottom:40px;
}

.tweet a {
	color:white;
	text-shadow: none;
}

input {
	border: 1px solid #282A2C !important;
	border-radius: 0px !important;
	color:black !important;
}

input:focus {
	border: 1px solid white !important;
	border-radius: 0px !important;
	background:#282A2C !important;
	box-shadow: none !important;
	color:white !important;
}

::-webkit-input-placeholder {
   color: white !important;
}

:-moz-placeholder { /* Firefox 18- */
   color: red;  
}

::-moz-placeholder {  /* Firefox 19+ */
   color: red;  
}

:-ms-input-placeholder {  
   color: red;  
}

label { 
	color: #fff !important; 
}

textarea {
	border: 1px solid #282A2C !important;
	border-radius: 0px !important;
	color:black !important;
	resize: none !important;
}

textarea:focus {
	color:white !important;
	border: 1px solid white !important;
	border-radius: 0px !important;
	background:#282A2C !important;
	box-shadow: none !important;
}

