/* Author: Jimmy Liu
   Twitter: @jimmyliu
   Website: jimmyliu.me */

body {
	background-image:url('debut_light.png');
	margin: 5% 0% 0% 0%;
}

body p, h1, h2, h3, h4, h5, a{
	font-family: 'Open Sans', sans-serif;
	color:black;
}

hr { display: block; height: 1px;
    border: 0; border-top: 1px solid #000 ;
    margin: 1em 0; padding: 0; 
    opacity:0.3}

body h2 {
	font-weight:500;
	font-size:20px;
	margin-top:0px;
	padding:0px;
	text-shadow: 0px 1px 0px rgba(0, 0, 0, 1);
}

@media (max-width: 767px) {

	.footer {
		margin-right:-20px;
		margin-left:-20px;
		padding:20px; 
	}
}

.header {
	text-shadow: 0px 1px 0px rgba(0, 0, 0, 1);
}

.header h1 {
	font-weight:700;
	font-size:25px;
	margin:0px;
}

.header h2 {
	text-align:center;
	font-weight:100;
	font-size:30px;
}

.header h2 b {
	font-weight:600;
}

.header a {
	color:black;
	text-decoration:none;
}

.header a:hover {
	color:#939393;
	
}

.header img {
}

.images img {
   padding: 6px;
   border: 1px solid #8c8c8c;
   margin:0px 5px 20px 0px;
   background-color:#fff;
}

.timeline hr {

	display: block; height: 1px;
    border: 0; border-top: 1px solid #000;
    margin: 0em 0; padding: 0; opacity:1;
    
}

.timeline {
	background-image:url('../img/line.png');
	background-repeat:repeat-x;
	margin-top:50px;
	margin-bottom:60px;
}

.points p {

	margin-top:10px;
	
}
.time1 {
	margin-top:-100px;
	left:9%;
	position:absolute;
	width:90px;
	height:90px;
}


.time2 {
	margin-top:-100px;
	left:20%;
	position:absolute;
	width:90px;
	height:90px;	
}

.time3 {
	margin-top:-100px;
	left:50%;
	position:absolute;	
	width:90px;
	height:90px;
}

.time4 {
	margin-top:-100px;
	left:70%;
	position:absolute;
	width:90px;
	height:90px;	
}

.time5 {
	margin-top:-100px;
	left:80%;
	position:absolute;	
	width:90px;
	height:90px;
}

.circle {
			padding: 8px 20px;
			overflow:hidden;
			background: url(../img/circle.png) no-repeat;
}

.contact p {
	margin-bottom: 0px;
}

.contact h3 {
	font-weight:400;
	font-size:25px;
}

.footer hr {
	display: block; height: 1px;
    border: 0; border-top: 1px solid #fff ;
    margin: 1em 0; padding: 0; opacity:1;
	
}

.footer {
	padding-top:25px;
	background-image:url('black_lozenge.png');
	padding-bottom:20px;
}

.footer p {
	color:white;
	font-weight:100;
	padding-bottom:25px;
}

.footer h3 {
	color:white;
	font-size:20px;
	font-weight:100;
}

.footer img {
	 vertical-align: text-bottom;
}